{% extends 'base/base1.html' %}
{% block title %} Servicio Alta {% endblock %}
{% block content %}
<div class="formulario cyan teal lighten-5 z-depth-5 col s12 m6 l4 offset-l4">
<form method="post">
  {% csrf_token %}
  <div class="row col s12 m10 l8 offset-m1 offset-l2">
    <div class="input-field">
      {{form.descripcion}}
      <label for="{{form.descripcion.name}}">{{form.descripcion.label}}</label>
    </div>
  </div>

  <div class="row col s12 m10 l8 offset-m1 offset-l2">
    <div class="input-field">
      {{form.precio}}
      <label for="{{form.precio.name}}">{{form.precio.label}}</label>
    </div>
  </div>

  <div class="row col s12 m10 l8 offset-m1 offset-l2">
    <div class="input-field">
      {{form.tipo}}
      <label for="{{form.tipo.name}}">{{form.tipo.label}}</label>
    </div>
  </div>

  <div class="row col s12 m10 l8 offset-m1 offset-l2">
    <div class="input-field">
      {{form.periodicidad}}
      <label for="{{form.periodicidad.name}}">{{form.periodicidad.label}}</label>
    </div>
  </div>

  <div class="row col s12 m10 l8 offset-m1 offset-l2">
    <div class="input-field">
      {{form.email}}
      <label for="{{form.email.name}}">{{form.email.label}}</label>
    </div>
  </div>
  <div class="row col s12 m12 l10 offset-m1 offset-l2">
    <button  class="btn waves-effect waves-light" type="submit">Guardar
      <i class="material-icons right" name="action">send</i>
    </button>
    <a class="btn btn-danger" href="{% url 'service:principal' %}"> Cancelar</a>
  </div>
</form>
</div>
{% endblock %}
