{% extends 'base/base1.html' %}
{% block title %} Mascota Alta {% endblock %}
{% block content %}
<div class="col s12 m6 l4 offset-l4 formulario cyan teal lighten-5 z-depth-5">
<form method="post">
  {% csrf_token %}
  <div class="row col s12 m10 l8 offset-m1 offset-l2">
    {{ form.as_p }}
  </div>
  <div class="row col s12 m12 l10 offset-m1 offset-l2">
    <button  class="btn waves-effect waves-light" type="submit">Guardar
      <i class="material-icons right" name="action">send</i>
    </button>
    <a class="btn btn-danger" href="{% url 'pet:principal' %}"> Cancelar</a>
  </div>
</form>
</div>
{% endblock %}
